<div>
  <h2 id="page-heading" data-cy="WorkoutBreakdownHeading">
    <span>Workout Breakdown</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-workout-breakdown"
        [routerLink]="['/workout-breakdown/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Add Workout Breakdown </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="workoutBreakdowns?.length === 0">
    <span>No Workout Breakdowns found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="workoutBreakdowns && workoutBreakdowns.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="distance">
            <div class="d-flex">
              <span>Distance</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="duration">
            <div class="d-flex">
              <span>Duration</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="distanceUnit">
            <div class="d-flex">
              <span>Distance Unit</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="notes">
            <div class="d-flex">
              <span>Notes</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="minValue">
            <div class="d-flex">
              <span>Min Value</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="maxValue">
            <div class="d-flex">
              <span>Max Value</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rangeUnit">
            <div class="d-flex">
              <span>Range Unit</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="workout.id">
            <div class="d-flex">
              <span>Workout</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workoutBreakdown of workoutBreakdowns; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/workout-breakdown', workoutBreakdown.id, 'view']">{{ workoutBreakdown.id }}</a>
          </td>
          <td>{{ workoutBreakdown.distance }}</td>
          <td>{{ workoutBreakdown.duration }}</td>
          <td>{{ workoutBreakdown.distanceUnit }}</td>
          <td>{{ workoutBreakdown.notes }}</td>
          <td>{{ workoutBreakdown.minValue }}</td>
          <td>{{ workoutBreakdown.maxValue }}</td>
          <td>{{ workoutBreakdown.rangeUnit }}</td>
          <td>
            <div *ngIf="workoutBreakdown.workout">
              <a [routerLink]="['/workout', workoutBreakdown.workout.id, 'view']">{{ workoutBreakdown.workout.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/workout-breakdown', workoutBreakdown.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Details</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/workout-breakdown', workoutBreakdown.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(workoutBreakdown)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
