<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="workoutBreakdown">
      <h2 data-cy="workoutBreakdownDetailsHeading"><span>Workout Breakdown</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ workoutBreakdown.id }}</span>
        </dd>
        <dt><span>Distance</span></dt>
        <dd>
          <span>{{ workoutBreakdown.distance }}</span>
        </dd>
        <dt><span>Duration</span></dt>
        <dd>
          <span>{{ workoutBreakdown.duration }}</span>
        </dd>
        <dt><span>Distance Unit</span></dt>
        <dd>
          <span>{{ workoutBreakdown.distanceUnit }}</span>
        </dd>
        <dt><span>Notes</span></dt>
        <dd>
          <span>{{ workoutBreakdown.notes }}</span>
        </dd>
        <dt><span>Min Value</span></dt>
        <dd>
          <span>{{ workoutBreakdown.minValue }}</span>
        </dd>
        <dt><span>Max Value</span></dt>
        <dd>
          <span>{{ workoutBreakdown.maxValue }}</span>
        </dd>
        <dt><span>Range Unit</span></dt>
        <dd>
          <span>{{ workoutBreakdown.rangeUnit }}</span>
        </dd>
        <dt><span>Workout</span></dt>
        <dd>
          <div *ngIf="workoutBreakdown.workout">
            <a [routerLink]="['/workout', workoutBreakdown.workout.id, 'view']">{{ workoutBreakdown.workout.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Wstecz</span>
      </button>

      <button type="button" [routerLink]="['/workout-breakdown', workoutBreakdown.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
