<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="sportDiscipline">
      <h2 data-cy="sportDisciplineDetailsHeading"><span>Sport Discipline</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ sportDiscipline.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ sportDiscipline.name }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Wstecz</span>
      </button>

      <button type="button" [routerLink]="['/sport-discipline', sportDiscipline.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
