<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span>Witamy w aplikacji do planowania treningów</span></h1>

    <p class="lead">Planuj i analizuj swoje treningi</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">Jesteś zalogowany jako użytkownik "{{ account.login }}".</span>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>Jeśli chcesz się </span>
        <a class="alert-link" (click)="login()">zalogować</a
        ><span
          >, możesz spróbować któregoś z domyślnych kont:<br />- Administrator (login="admin" i hasło="admin") <br />- Użytkownik
          (login="user" i hasło="user").</span
        >
      </div>
      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>Nie masz jeszcze konta?</span>&nbsp;
        <a class="alert-link" routerLink="account/register">Zarejestruj się</a>
      </div>
    </div>
  </div>
</div>
