<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="workout">
      <h2 data-cy="workoutDetailsHeading"><span>Workout</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Date</span></dt>
        <dd>
          <span>{{ workout.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Duration</span></dt>
        <dd>
          <span>{{ workout.duration | duration }}</span>
        </dd>
        <dt><span>Comment</span></dt>
        <dd>
          <span>{{ workout.comment }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ workout.status }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ workout.type }}</span>
        </dd>
        <dt><span>Workout Rating</span></dt>
        <dd>
          <div *ngIf="workout.workoutRating">
            <a [routerLink]="['/workout-rating', workout.workoutRating.id, 'view']"
              >{{ workout.workoutRating.rate }} - {{ workout.workoutRating.comment }}</a
            >
          </div>
        </dd>
        <dt><span>Sport Discipline</span></dt>
        <dd>
          <div *ngIf="workout.sportDiscipline">
            <a [routerLink]="['/sport-discipline', workout.sportDiscipline.id, 'view']">{{ workout.sportDiscipline.name }}</a>
          </div>
        </dd>
      </dl>
      <div class="table-responsive table-entities" id="exercises" *ngIf="workout.exercises">
        <dt><span>Exercises</span></dt>
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">
                <div class="d-flex">
                  <span>Exercise Type</span>
                </div>
              </th>
              <th scope="col">
                <div class="d-flex">
                  <span>Nr Of Reps</span>
                </div>
              </th>
              <th scope="col">
                <div class="d-flex">
                  <span>Nr Of Series</span>
                </div>
              </th>
              <th scope="col">
                <div class="d-flex">
                  <span>Weight</span>
                </div>
              </th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let exercise of workout.exercises">
              <td></td>
              <td>
                {{ exercise.exerciseType?.name }}
              </td>
              <td>{{ exercise.nrOfReps }}</td>
              <td>{{ exercise.nrOfSeries }}</td>
              <td>{{ exercise.weight }}</td>
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/exercise', exercise.id, 'edit']"
                  class="btn btn-primary btn-sm"
                  data-cy="entityEditButton"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline">Edytuj</span>
                </button>
              </div>
            </tr>
          </tbody>
        </table>
      </div>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Wstecz</span>
      </button>

      <button type="button" [routerLink]="['/workout', workout.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edytuj</span>
      </button>
    </div>
  </div>
</div>
