<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="exercise">
      <h2 data-cy="exerciseDetailsHeading"><span>Exercise</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ exercise.id }}</span>
        </dd>
        <dt><span>Nr Of Reps</span></dt>
        <dd>
          <span>{{ exercise.nrOfReps }}</span>
        </dd>
        <dt><span>Nr Of Series</span></dt>
        <dd>
          <span>{{ exercise.nrOfSeries }}</span>
        </dd>
        <dt><span>Weight</span></dt>
        <dd>
          <span>{{ exercise.weight }}</span>
        </dd>
        <dt><span>Exercise Type</span></dt>
        <dd>
          <div *ngIf="exercise.exerciseType">
            <a [routerLink]="['/exercise-type', exercise.exerciseType.id, 'view']">{{ exercise.exerciseType.id }}</a>
          </div>
        </dd>
        <dt><span>Workout</span></dt>
        <dd>
          <div *ngIf="exercise.workout">
            <a [routerLink]="['/workout', exercise.workout.id, 'view']">{{ exercise.workout.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Wstecz</span>
      </button>

      <button type="button" [routerLink]="['/exercise', exercise.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edytuj</span>
      </button>
    </div>
  </div>
</div>
